@media (max-width: 500px) {
    header img {
        width: 150px;
        height: auto;
        padding: 30px
    }
    section {
        padding: 20px;
    }
    .links {
        width: 300px;
        height: 60px;
        border-radius: 5px;
    }
    .links:hover {
        width: 305px;
        background-color: blue;
    }
    .links a {
        font-size: smaller;
    }
    footer {
        display: none;
    }
}